@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <style type="text/css">
        .tree-file{background:url() !important;}
    </style>
}

@section scripts{
        <script src="~/Areas/Mms/ViewModels/mms.com.js"></script>
        <script src="~/Areas/Mms/ViewModels/mms.viewModel.search.js"></script>
        <script type="text/javascript">
            var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            var viewModel = function(){ 
                var self = this;
                mms.viewModel.search.apply(this,arguments);
                this.grid = $.extend(self.grid,{
                    idField:'id',
                    treeField:'name',
                    parentField:'SupplierCode',
                    onDblClickRow: $.noop
                });
            };
            ko.bindingViewModel(new viewModel(data));
        </script>
}
        <div class="z-toolbar">
            <a id="a_refresh" href="#" plain="true" class="easyui-linkbutton" icon="icon-arrow_refresh" title="刷新" data-bind="click:refreshClick">刷新</a>
            @*<a id="a_add"    href="#" plain="true" class="easyui-linkbutton" icon="icon-add" title="新增" data-bind="click:addClick">新增</a>
            <a id="a_edit"   href="#" plain="true" class="easyui-linkbutton" icon="icon-edit" data-bind="click:editClick" title="编辑">编辑</a>
            <a id="a_del"    href="#" plain="true" class="easyui-linkbutton" icon="icon-cross" title="删除" data-bind="click:deleteClick">删除</a>
            <a id="a_audit"  href="#" plain="true" class="easyui-linkbutton" icon="icon-folder_key" data-bind="click:auditClick" title="审核">审核</a>*@
            <a id="a_export" href="#" class="easyui-splitbutton" data-options="menu:'#dropdown',iconCls:'icon-download'">导出</a>
        </div>

        <div id="dropdown" style="width:100px; display:none;">  
            <div data-options="iconCls:'icon-ext-xls'"      suffix="xls"    data-bind="click:downloadClick">Excel2003   </div>  
            <div data-options="iconCls:'icon-page_excel'"   suffix="xlsx"   data-bind="click:downloadClick">Excel2007   </div>  
            <div data-options="iconCls:'icon-ext-doc'"      suffix="doc"    data-bind="click:downloadClick">Word2003    </div>  
        </div> 

        <div id="condition" class="container_12" style="position:relative;">
            <div class="grid_1 lbl">供应商</div>
             <div class="grid_2 val"><input type="text" data-bind="value:form.SupplierName" class="z-txt easyui-autocomplete" data-options="url:'/api/mms/merchant/getnames'"/></div>
            <div class="grid_1 lbl">合同名称</div>
            <div class="grid_2 val"><input type="text" data-bind="value:form.ContractCode" class="z-txt"/></div>
            <div class="grid_1 lbl">单据类型</div>
            <div class="grid_2 val"><input type="text" data-bind="comboboxValue:form.SrcBillType,datasource:dataSource.billTypeItems" class="z-txt easyui-combobox" data-options="showblank:true"/></div>
            
            <div class="clear"></div>
       
           @* <div class="grid_1 lbl">材料类别</div>
            <div class="grid_2 val"><input type="text" data-bind="lookupValue:form.MaterialType" class="z-txt easyui-lookup" data-options="lookupType:'materialtype',parentField:'pid'"/></div>
           *@ <div class="grid_1 lbl">材料名称</div>
            <div class="grid_2 val"><input type="text" data-bind="value:form.MaterialName" class="z-txt"/></div>
            <div class="grid_1 lbl">查询区间</div>
            <div class="grid_2 val"><input type="text" data-bind="value:form.QueryDate" class="z-txt easyui-daterange"/></div>

            <div class="clear"></div>

            <div class="prefix_9" style="position:absolute;top:5px;height:0;">  
                <a id="a_search" href="#" class="buttonHuge button-blue" style="margin:0 15px;" data-bind="click:searchClick">查询</a> 
                <a id="a_reset" href="#" class="buttonHuge button-blue" data-bind="click:clearClick">清空</a>
            </div>
        </div>

        <table id="gridlist" data-bind="treegrid:grid">
             <thead>  
                <tr>  
                    <th field="name"    sortable="true" align="left"    width="150"  >供应商</th>  
                    <th field="ContractCode"      sortable="true" align="left"    width="100"  >合同名称</th>  
                    <th field="MaterialCode"    sortable="true" align="left"    width="80" >材料编码</th> 
                    <th field="MaterialName"    sortable="true" align="left"    width="100"  >材料名称</th> 
                    <th field="Model"           sortable="true" align="center"    width="60"  >规格型号</th> 
                    <th field="Unit"            sortable="true" align="center"  width="40" >单位</th>  
                    <th field="Num"             sortable="true" align="right"    width="60" formatter="com.formatMoney">数量</th>  
                    <th field="UnitPrice"       sortable="true" align="right"   width="60"  formatter="com.formatMoney">单价</th>  
                    <th field="Money"           sortable="true" align="right"    width="60"  formatter="com.formatMoney">金额</th>  
                    <th field="TakeDate"        sortable="true" align="center"    width="80"  formatter="com.formatDate" >发生日期</th>
                    <th field="OriginalNum"        sortable="true" align="left"  width="70">原始票号   </th>  
                    <th field="SrcBillType"     sortable="true" align="center"    width="80" formatter="mms.com.formatSrcBillType" >单据类型</th>   
                    <th field="SrcBillNo"       sortable="true" align="left"    width="80" >单据编号</th>   
                    <th field="Remark"          sortable="true" align="left"    width="100" >备注</th>   
                </tr>                            
            </thead>      
        </table> 