@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
        <script src="~/Areas/Psi/ViewModels/com.viewModel.search.js"></script>
        <script type="text/javascript">
            var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            ko.bindingViewModel(new com.viewModel.search(data));
        </script>
}
        <div class="z-toolbar">
            <a id="a_refresh" href="#" plain="true" class="easyui-linkbutton" icon="icon-arrow_refresh" title="刷新" data-bind="click:refreshClick">刷新</a>
            <a id="a_add"    href="#" plain="true" class="easyui-linkbutton" icon="icon-add" title="新增" data-bind="click:addClick">新增</a>
            <a id="a_edit"   href="#" plain="true" class="easyui-linkbutton" icon="icon-edit" data-bind="click:editClick" title="编辑">编辑</a>
            <a id="a_del"    href="#" plain="true" class="easyui-linkbutton" icon="icon-cross" title="删除" data-bind="click:deleteClick">删除</a>
            <a id="a_audit"  href="#" plain="true" class="easyui-linkbutton" icon="icon-folder_key" data-bind="click:auditClick" title="审核">审核</a>
            <a id="a_export" href="#" class="easyui-splitbutton" data-options="menu:'#dropdown',iconCls:'icon-download'">导出</a>
        </div>

        <div id="dropdown" style="width:100px; display:none;">  
            <div data-options="iconCls:'icon-ext-xls'"      suffix="xls"    data-bind="click:downloadClick">Excel2003   </div>  
            <div data-options="iconCls:'icon-page_excel'"   suffix="xlsx"   data-bind="click:downloadClick">Excel2007   </div>  
            <div data-options="iconCls:'icon-ext-doc'"      suffix="doc"    data-bind="click:downloadClick">Word2003    </div>  
        </div> 

        <div id="condition" class="container_12" style="position:relative;">
            <div class="grid_1 lbl">退还单号</div>
            <div class="grid_2 val"><input type="text" data-bind="value:form.BillNo" class="z-txt"/></div>
            <div class="grid_1 lbl">退还人</div>
            <div class="grid_2 val"><input type="text" data-bind="value:form.ReturnPerson" class="z-txt"/></div>
            <div class="grid_1 lbl">退还日期</div>
            <div class="grid_2 val"><input type="text" data-bind="value:form.ReturnDate" class="z-txt easyui-daterange"/></div>

            <div class="clear"></div>
            <div class="grid_1 lbl">领货单号</div>
            <div class="grid_2 val"><input type="text" data-bind="value:form.PickingBillNo" class="z-txt"/></div>
            <div class="grid_1 lbl">客户</div>
            <div class="grid_2 val"><input type="text" data-bind="value:form.CustomNo" class="z-txt"/></div>
            <div class="grid_1 lbl">服务合同</div>
            <div class="grid_2 val"><input type="text" data-bind="value:form.Contract" class="z-txt"/></div>
            
            <div class="clear"></div>

            <div class="prefix_9" style="position:absolute;top:5px;height:0;">  
                <a id="a_search" href="#" class="buttonHuge button-blue" style="margin:0 15px;" data-bind="click:searchClick">查询</a> 
                <a id="a_reset" href="#" class="buttonHuge button-blue" data-bind="click:clearClick">清空</a>
            </div>
        </div>

        <table id="gridlist" data-bind="datagrid:grid">
             <thead>  
                <tr>  
                    <th field="BillNo"              sortable="true" align="left"    width="90"   >退还单号   </th> 
                    <th field="PickingBillNo"              sortable="true" align="left"    width="90"   >领货单号   </th> 
                    <th field="CustomNo"        sortable="true" align="left"    width="150" >客户         </th> 
                    <th field="Contract"        sortable="true" align="left"    width="120"  >服务合同   </th> 
                    <th field="TotalMoney"          sortable="true" align="right"   width="70"  formatter="com.formatMoney"   >金额       </th>  
                    <th field="ReturnPerson"       sortable="true" align="left"    width="70" >退还人     </th>  
                    <th field="ReturnDate"         sortable="true" align="center"  width="70"  formatter="com.formatDate"    >退还日期   </th>  
                    <th field="Remark"              sortable="true" align="left"    width="150" >备注       </th>   
                </tr>
            </thead>      
        </table> 