@{
    ViewBag.Title = "Lookup";
}
@section head{
 <style type="text/css">
      .z-toolbar{ border-width:0; margin:0;}
      .lbl { text-align:right; line-height:25px;}
      .panel-body{ border-width:0 !important;}
      body{ padding:0 !important;}
      #list{ height:317px;}
  </style>
} 

@section scripts{
    <script type="text/javascript">
        var vmodel; grid = $('#list');
        $(function () {
            $('#valueField').focus();
            using(['treegrid', 'lookup'], function () {
                vmodel = new viewModel(getOptions());
                ko.applyBindings(vmodel);
            });
        });
    </script>
}
    <div class="z-toolbar" style="border-bottom-width:1px;">
        <div id="master" class="container_16">
            <div class="grid_2 lbl" id="valueTitle">编码</div>
            <div class="grid_4 val"><input type="text" id="valueField" name="valueField" data-bind="value:form.value,event:{keypress:keyDown}"  class="z-txt" data-cp="like" style="width:100%"  /></div>
            <div class="grid_2 lbl" id="textTitle">名称</div>
            <div class="grid_4 val"><input type="text" id="textField" name="textField" data-bind="value:form.text,event:{keypress:keyDown}" class="z-txt" data-cp="like" style="width:100%"/></div>
            <div class="grid_4 val" style="margin-top:0px;">
                <a id="btnSearch" href="#" plain="true" class="easyui-linkbutton" icon="icon-search" title="查询" data-bind="click:searchClick">查询</a>
                <a id="btnClear" href="#" plain="true" class="easyui-linkbutton" icon="icon-clear" title="清空" data-bind="click:clearClick">清空</a>
            </div>
        </div>
    </div>

    <div id="list" data-bind="treegrid:gridSetting"></div>   
                 
    <div class="z-toolbar" style="text-align: center;padding:4px 0;border-top-width:1px; ">
        <button id="btnConfirm" class="sexybutton" data-bind="click:confirmClick"><span><span><span class="ok">确定</span></span></span></button> &nbsp; 
        <button id="btnCancel" class="sexybutton"  data-bind="click:cancelCick"><span><span><span class="cancel">取消</span></span></span></button>
    </div>

    <script src="~/Content/js/viewModel/lookup.js" type="text/javascript"></script>
