
@{
    ViewBag.Title = "Liy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
<script src="/Content/js/viewModel/com.viewModel.searchEdit.js"></script>
<script type="text/javascript">
    using(['datebox']);
    var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    ko.bindingViewModel(new com.viewModel.searchEdit(data));
</script>
}
<div class="z-toolbar">
    <a href="#" plain="true" class="easyui-linkbutton"  icon="icon-arrow_refresh"   title="刷新" data-bind="click:refreshClick">刷新</a>
    <a href="#" plain="true" class="easyui-linkbutton"  icon="icon-add"             title="新增" data-bind="click:addClick"    >新增</a>
    <a href="#" plain="true" class="easyui-linkbutton"  icon="icon-edit"            title="编辑" data-bind="click:editClick"   >编辑</a>
    <a href="#" plain="true" class="easyui-linkbutton"  icon="icon-cross"           title="删除" data-bind="click:deleteClick" >删除</a>
    <a href="#" plain="true" class="easyui-linkbutton"  icon="icon-save"            title="保存" data-bind="click:saveClick"   >保存</a>
    <a href="#" plain="true" class="easyui-splitbutton" data-options="menu:'#dropdown',iconCls:'icon-download'"                >导出</a>
</div>

<div id="dropdown" style="width:100px; display:none;">  
    <div data-options="iconCls:'icon-ext-xls'"      suffix="xls"    data-bind="click:downloadClick">Excel2003   </div>  
    <div data-options="iconCls:'icon-page_excel'"   suffix="xlsx"   data-bind="click:downloadClick">Excel2007   </div>  
    <div data-options="iconCls:'icon-ext-doc'"      suffix="doc"    data-bind="click:downloadClick">Word2003    </div>  
</div> 

<div class="container_12" style="position:relative;">
    <div class="grid_1 lbl">部门</div>
    <div class="grid_2 val"><input type="text" data-bind="lookupValue:form.DepartmentID" class="z-txt easyui-lookup" /></div>
    <div class="grid_1 lbl">是否有效</div>
    <div class="grid_2 val"><input type="text" data-bind="comboboxValue:form.IsValid" class="z-txt easyui-combobox" /></div>
    <div class="grid_1 lbl">审核状态</div>
    <div class="grid_2 val"><input type="text" data-bind="value:form.ApproveState" class="z-txt " /></div>
    
    <div class="clear"></div>
    
    <div class="grid_1 lbl">备注</div>
    <div class="grid_2 val"><input type="text" data-bind="value:form.Remark" class="z-txt " /></div>
    <div class="grid_1 lbl">出岗日期</div>
    <div class="grid_2 val"><input type="text" data-bind="value:form.OutDateTime" class="z-txt easyui-daterange" /></div>

    <div class="clear"></div>

    <div class="prefix_9" style="position:absolute;top:5px;height:0;">  
        <a id="a_search" href="#" class="buttonHuge button-blue" data-bind="click:searchClick" style="margin:0 15px;">查询</a> 
        <a id="a_reset"  href="#" class="buttonHuge button-blue" data-bind="click:clearClick">清空</a>
    </div>
</div>

<table data-bind="datagrid:grid" style="display:none">
    <thead>  
        <tr>  
            <th field="ID"		sortable="true"	align="left"	width="80" editor="text" >ID</th>
            <th field="DepartmentID"		sortable="true"	align="left"	width="80" editor="text" >DepartmentID</th>
            <th field="IsValid"		sortable="true"	align="left"	width="80" editor="{type:'combobox',options:{}}" >IsValid</th>
            <th field="OutDateTime"		sortable="true"	align="left"	width="80" editor="datebox" formatter="com.formatTime">OutDateTime</th>
            <th field="ApproveState"		sortable="true"	align="left"	width="80" editor="{type:'combobox',options:{}}" >ApproveState</th>
            <th field="ApprovePerson"		sortable="true"	align="left"	width="80" editor="text" >ApprovePerson</th>
            <th field="ApproveDate"		sortable="true"	align="left"	width="80" editor="text" >ApproveDate</th>
            <th field="ApproveRemark"		sortable="true"	align="left"	width="80" editor="text" >ApproveRemark</th>
            <th field="Remark"		sortable="true"	align="left"	width="80" editor="text" >Remark</th>
        </tr>                            
    </thead>      
</table> 
